body 
{
  background: #1a1e23;
  margin: 0;
}


.bg-video 
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 40%;
  font-size: 2em;
  font-family: Arial, sans-serif;
}

.calculator
{
    box-shadow:0 15px 35px rgba(0 ,0, 0, 0.5);
    border:1px solid rgba(255,255,255,0.07);
    backdrop-filter: blur(10px);
    width:20%;
    margin:auto;
    height:70%;
    padding:10px;
    position:relative;
    top:200px;
    border-radius:15px;
    text-align:center;
    padding-bottom:60px;
    padding-left:40px;
}
button
{
    background-color:mediumslateblue;
    color:white;
    font-size:18px;
    border-radius:10px;
    width:50px;
    border:none;
    padding:10px;
    margin:5px; 
    justify-content: center;
}
#zero
{
    width:120px;
}
#cross, #divide, #minus, #add
{
    background-color:cyan;
    color:navy;
}
td:hover button
{
    box-shadow:0 5px 15px rgba(145, 207, 235, 0.3);
    cursor:pointer;
    transform:translateY(-2px);
    transition:0.3s;
    border:rgb(126, 203, 239) solid 1.5px;
}
input
{
    width:250px;
    height:50px;
    border:none;
    margin-top:20px;
    top:20px;
    position:relative;
    margin-left:-40px;
    border-radius:50px;
    font-size:48px;
    text-align:right;
    padding-right:20px;
    background-color:transparent;
    color:white;
    font-weight:bold;
}
input[type=text]
{
    -webkit-appearance:textfield;
}
input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}
input:focus
{
    outline:none;
    cursor:none;
    caret-color: transparent;
}
input::placeholder
{
    color:white;
}
header
{
    box-shadow:0 15px 35px rgba(0 ,0, 0, 0.5);
    border:1px solid rgba(255,255,255,0.07);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding:5px;
}
 h1 
{
    color:white;
    font-family: delius, algerian;
    transition: transform 0.5s ease-in-out; 
}

header h1:hover 
{
  transform: translateX(780px); 
}
